<p style="color: green"><%= notice %></p>
<div class="contact-header">
<h1>Businesses</h1>
<%= button_to "New business", new_business_path, :method => :get, class: "btn btn-secondary create-btn"%>
</div>
<hr>
<% @grouped_businesses.each do |letter, businesses| %>
  <h2><%= letter %></h2>
  <ul>
    <% businesses.each do |business| %>
      <li><%= link_to business.name, business, class:"contact-link" %></li>
    <% end %>
  </ul>
<% end %>

