<div class='container-fluid' style='margin-top:50px'>
	<div class='row' style='align-content: center;'>
		<div style="padding-bottom:50px;">
			<%= image_tag("Logos/MallLogo.png",style: "object-fit: contain; width: 100%; height: 150px;") %>
		</div>
		<div class='col-12'>
			<input type="text" class="form-control" id="myInput" onkeyup="myFunction()" placeholder="Search for store...">
			<br>
			<table class="table table-bordered table-color" id="myTable">
				<thead>
					<tr>
						<th scope="col">Store</th>
						<th scope="col">Floor</th>
						<th scope="col">Parking</th>
					</tr>
				</thead>
				<tbody>
					<%# First Floor %>
					<tr>
						<td data-title="Store">Aeropostale - 29</td>
						<td data-title="Floor">First</td>
						<td data-title="Parking">Tilted</td>
					</tr>
					<tr>
						<td data-title="Store">American Eagle Outfitters - 12</td>
						<td data-title="Floor">First</td>
						<td data-title="Parking">Tilted</td>
					</tr>
					<tr>
						<td data-title="Store">Box Lunch - 293</td>
						<td data-title="Floor">First</td>
						<td data-title="Parking">--</td>
					</tr>
					<tr>
						<td data-title="Store">Champs Sports - 25</td>
						<td data-title="Floor">First</td>
						<td data-title="Parking">Barnes & Noble</td>
					</tr>
					<tr>
						<td data-title="Store">Charlotte Russe - G25</td>
						<td data-title="Floor">First</td>
						<td data-title="Parking">Barnes & Noble</td>
					</tr>
					<tr>
						<td data-title="Store">Corner Store - 33</td>
						<td data-title="Floor">First</td>
						<td data-title="Parking">Tilted</td>
					</tr>
					<tr>
						<td data-title="Store">Daily Threads - 4</td>
						<td data-title="Floor">First</td>
						<td data-title="Parking">Barnes & Noble</td>
					</tr>
					<tr>
						<td data-title="Store">Furry Babies - 38</td>
						<td data-title="Floor">First</td>
						<td data-title="Parking">Tilted</td>
					</tr>
					<tr>
						<td data-title="Store">Hot Topic - 6</td>
						<td data-title="Floor">First</td>
						<td data-title="Parking">Barnes & Noble</td>
					</tr>
					<tr>
						<td data-title="Store">Icing - 27</td>
						<td data-title="Floor">First</td>
						<td data-title="Parking">Barnes & Noble</td>
					</tr>
					<tr>
						<td data-title="Store">Rue 21 - 20</td>
						<td data-title="Floor">First</td>
						<td data-title="Parking">Tilted</td>
					</tr>
					<tr>
						<td data-title="Store">Zumiez - 5</td>
						<td data-title="Floor">First</td>
						<td data-title="Parking">Barnes & Noble</td>
					</tr>
					<%# Second Floor %>
					<tr>
						<td data-title="Store">Auntie Anne's - 50</td>
						<td data-title="Floor">Second</td>
						<td data-title="Parking">Tilted</td>
					</tr>
					<tr>
						<td data-title="Store">Bath & Bodyworks - 81A</td>
						<td data-title="Floor">Second</td>
						<td data-title="Parking">Tilted</td>
					</tr>
					<tr>
						<td data-title="Store">Buckle - 69</td>
						<td data-title="Floor">Second</td>
						<td data-title="Parking">Barnes & Noble</td>
					</tr>
					<tr>
						<td data-title="Store">Build-A-Bear - 66</td>
						<td data-title="Floor">Second</td>
						<td data-title="Parking">Tilted</td>
					</tr>
					<tr>
						<td data-title="Store">The Childerns Place - 60</td>
						<td data-title="Floor">Second</td>
						<td data-title="Parking">Tilted</td>
					</tr>
					<tr>
						<td data-title="Store">Cinnabon - 52</td>
						<td data-title="Floor">Second</td>
						<td data-title="Parking">Tiltee</td>
					</tr>
					<tr>
						<td data-title="Store">Claire's - 43B</td>
						<td data-title="Floor">Second</td>
						<td data-title="Parking">Barnes & Noble</td>
					</tr>
					<tr>
						<td data-title="Store">Express Factory</td>
						<td data-title="Floor">Second</td>
						<td data-title="Parking">Tilted</td>
					</tr>
					<tr>
						<td data-title="Store">Father & Son Jewelery - 75A</td>
						<td data-title="Floor">Second</td>
						<td data-title="Parking">Tilted</td>
					</tr>
					<tr>
						<td data-title="Store">Foot Locker - 72</td>
						<td data-title="Floor">Second</td>
						<td data-title="Parking">Barnes & Noble</td>
					</tr>
					<tr>
						<td data-title="Store">H&M</td>
						<td data-title="Floor">Second</td>
						<td data-title="Parking">Tilted</td>
					</tr>
					<tr>
						<td data-title="Store">Holister - 76</td>
						<td data-title="Floor">Second</td>
						<td data-title="Parking">Tilted</td>
					</tr>
					<tr>
						<td data-title="Store">JD Sports - 63</td>
						<td data-title="Floor">Second</td>
						<td data-title="Parking">Tilted</td>
					</tr>
					<tr>
						<td data-title="Store">Journeys - 73</td>
						<td data-title="Floor">Second</td>
						<td data-title="Parking">Barnes & Noble</td>
					</tr>
					<tr>
						<td data-title="Store">Laced Up 815 - G68C</td>
						<td data-title="Floor">Second</td>
						<td data-title="Parking">Tilted</td>
					</tr>
					<tr>
						<td data-title="Store">Marurices - 70</td>
						<td data-title="Floor">Second</td>
						<td data-title="Parking">Barnes & Noble</td>
					</tr>
					<tr>
						<td data-title="Store">Pandora - 74</td>
						<td data-title="Floor">Second</td>
						<td data-title="Parking">Barnes & Noble</td>
					</tr>
					<tr>
						<td data-title="Store">The Relax Place - 64</td>
						<td data-title="Floor">Second</td>
						<td data-title="Parking">Tilted</td>
					</tr>
					<tr>
						<td data-title="Store">Rock America - 68</td>
						<td data-title="Floor">Second</td>
						<td data-title="Parking">Barnes & Noble</td>
					</tr>
					<tr>
						<td data-title="Store">Rugged Cowboy - 54</td>
						<td data-title="Floor">Second</td>
						<td data-title="Parking">Barnes & Noble</td>
					</tr>
					<tr>
						<td data-title="Store">Spencers - 68</td>
						<td data-title="Floor">Second</td>
						<td data-title="Parking">Barnes & Noble</td>
					</tr>
					<tr>
						<td data-title="Store">Yankee Candle - 75</td>
						<td data-title="Floor">Second</td>
						<td data-title="Parking">Tilted</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<script>
	function myFunction() {
  // Declare variables
		let input, filter, table, tr, td, i, txtValue;
		input = document.getElementById("myInput");
		filter = input.value.toUpperCase();
		table = document.getElementById("myTable");
		tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
		for (i = 0; i < tr.length; i++) {
			td = tr[i].getElementsByTagName("td")[0];
			if (td) {
				txtValue = td.textContent || td.innerText;
				if (txtValue.toUpperCase().indexOf(filter) > -1) {
					tr[i].style.display = "";
				} else {
					tr[i].style.display = "none";
				}
			}
		}
	}
</script>