  <tbody>
  <tr>
    <td><%= link_to contact.guest_name, contact, class:"contact-link" %></td>
    <td><%= contact.address %></td>
    <td><%= contact.phone %></td>
    <td><%= contact.buisness %></td>
  <tr>
  </tbody>