<div class='container-fluid' style='margin-top:50px'>
	<div class='row' style='align-content: center;'>
		<div style="padding-bottom:50px;">
		<%= image_tag("Logos/CateringLong.png",style: "object-fit: contain; width: 100%; height: 150px;") %>
		</div>
		<hr>
	<div class='col-4' style="text-align: center;">
		<h2>Dispatch</h2>
			<p>Word and stuff will go here</p>
	</div>
	<div class='col-4' style="text-align: center;">
		<h2>Packing</h2>
		<p>Word and stuff will go here</p>
	</div>
	<div class='col-4' style="text-align: center;">
		<h2>Driver</h2>
		<p>Word and stuff will go here</p>
	</div>
	</div>
</div>