<% @emails.each do |email| %>
  <div>
    <strong>Subject:</strong> <%= email[:subject] %><br>
    <strong>Body:</strong> <%= email[:raw_data] %><br>

    <% if email[:table_data] %>
      <strong>Table Data:</strong>
      <table>
        <% email[:table_data].each do |row| %>
          <tr>
            <% row.each do |cell| %>
              <td><%= cell %></td>
            <% end %>
          </tr>
        <% end %>
      </table>
    <% else %>
      <p>No table data found in the email.</p>
    <% end %>
  </div>
  <hr>
<% end %>
