.contact-container{
	background-color:#f7f7f7;
	border: 1px solid #dddddd;
	border-radius: 3px;
	margin-bottom: 20px;
	padding: 20px;
	position: relative;
}


.contact-link{
  text-decoration: none;
  color: hotpink;
}


.table-color th{
 background-color: #004E74;
 color:white;
}

.responsive-image {
  max-width: 100%;
  height: auto;
}